body {
    background-color: rgb(229, 229, 246);
    
}

#container {
    font-size: 30px;
    font-family: 'Lilita One', cursive;
    color:rgb(88, 94, 162);
    text-align: center;
    background-color: rgb(240, 162, 162);
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 10px 10px rgb(159, 96, 96);
    
}

h1 {
    margin-bottom: 10px;
}

label {
    font-size: 20px;
}

#enter-button {
    font-family: 'Nanum Gothic', sans-serif;
    color: rgb(24, 10, 107);
    background-color: aliceblue;
    margin-bottom: 8px;
}


.cat-box {
    background: rgb(111, 118, 172);
    font-family: 'Lilita One', cursive;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 400px;
    text-align: center;
    color: rgb(61, 74, 117);
    line-height: 10px;
    font-size: 25px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 15px 17px rgb(111, 118, 172);
    background-color: rgb(199, 202, 227);
    
}

.cat-box-personality {
    margin: 15px;
    font-size: 22.5px;
}

#remove-btn {
    background-color: #fac5c5;
    border-radius: 7px;
    padding: 4px;
}

